.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0% 10%;
  border-bottom: 1px solid hsl(220, 14%, 75%, 0.5);
  position: relative;
}
.padding-10 {
  padding: 10% 0%;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 60px;
}
.logo {
  width: 160px;
}
.menu-container {
  display: flex;
  gap: 30px;
  color: hsl(219, 9%, 45%);
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 50px;
}
.profile {
  width: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
}

@media (min-width: 679px) {
  .profile {
    cursor: pointer;
  }
  .profile:hover {
    border: 2px solid hsl(26, 100%, 55%);
  }
  .submenu {
    cursor: pointer;
    border-bottom: 5px solid transparent;
  }
  .submenu:hover {
    color: black;
    border-bottom: 5px solid hsl(26, 100%, 55%);
  }
  .icon-cart {
    cursor: pointer;
  }
  .icon-cart:hover {
    filter: brightness(0);
  }
}
@media (max-width: 678px) {
  .header-container {
    margin: 0% 5%;
    padding: 5% 0%;
  }
  .header-left {
    gap: 15px;
  }
  .header-right {
    gap: 30px;
  }
  .profile {
    width: 25px;
  }
  .icon-close {
    margin-bottom: 30%;
  }
  .menu-container {
    position: absolute;
    background-color: white;
    flex-direction: column;
    gap: 10px;
    top: 0px;
    left: -6%;
    padding: 7% 45% 0% 6%;
    align-items: start;
    height: 100vh;
    z-index: 2;
  }
  .submenu {
    color: black;
  }
  .backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.32);
    top: 0;
    left: -6%;
    z-index: 1;
  }
}
